h2{
	text-align:center;
	margin:0px;
}
h3{
	margin:0px;
}
h4{
	text-align:center;
	margin:0px;
}
ul{
    list-style:none;
    padding:0px;
}
li{
	margin-bottom:8px;
	padding:5px;
	border-radius:10px;
	background-color:#ddd;
}
.leveltwo{
    background-color:#ccc;
}
#headerdiv{
	padding:5px;
	border-radius:10px;
	background-color:#bbb;
}
#linkdiv{
	text-align:center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}